/*Variables*/
/*Color Variables*/
$orange: hsl(25, 97%, 53%);
$white: #fff;
$light-gray: hsl(217, 12%, 63%);
$medium-gray: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$number-bg-color: hsl(203, 19%, 25%);
$very-dark-blue: hsl(216, 12%, 8%);

/*Font Variables*/
$overpass: 'Overpass', sans-serif;