/*SCSS Files*/
@use 'variables';
@use 'main';
@use 'footer';

/*General Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow: hidden;
    transition: background-color 1s;
}

.dark-body{
    background-color: variables.$very-dark-blue;
}

.light-body{
    background-color: variables.$white;
}

a{
    text-decoration: none;
    color: #ff0;

    &:visited{
        color: #ff0;
    }

    &:hover{
        text-decoration: underline;
    }
}

/*Responsive Mobile General Styles*/
@media only screen and (max-width: 376px){
    br{
        display: none;
    }
}